.chat-container{
    margin-top: 1.5em;
    margin-left: 4rem;
    width: 45em; 
    height:30em; 
    background: #0E0334; 
    display: relative;
    overflow-y: scroll;
    border-radius: 2em;
}

::-webkit-scrollbar {
    width: 0px;
}

.msg {
    font-size: 1.25rem;
    margin-top: 2em;
}

.msg_bot {
    text-align: left;
    word-break: break-all;
    padding: 0.5em;
    margin: 1em;
    background-color: #26116F;
    border-radius: 10px;
    padding-right: 20%;
}
.msg_usr {
    word-break: break-all;
    margin: 1em;
    padding: 0.5em;
    text-align: right;
    border-radius: 10px;
    padding-left: 20%;
    background-color: #5E02A4;
}
.msg_usr_text {
    color: #fff;
    /*background-image: linear-gradient(#5E02A4, rgb(165, 93, 219, 0.2));*/
    
    border-radius: 5em;
}
.msg_bot_text {
    color: white;
    border-radius: 5em;
    
}
.form {
}
.form input {
    color: white;
    border: 0.15em solid #392B69;
    width: 95%;
    height: 2em;
    padding: 0.5em;
    border-radius: 5em;
    font-size: 1em;
    background-color: transparent;
}
#chat-box {
    width: 44em; 
    margin-left: 4rem;
    background-color: #0E0334;
}
#chat-box::placeholder {
    color: #634ea6;
    padding-left: 1em;
}

.loading_msg {
    color: #fff;
    padding: 1em;
    border-radius: 5em;
}