.msg {
    margin: 5em;
    font-size: 1.25rem;
    
}
.msg_bot {
    padding: 0.5em;
    margin: 1em;
}
.msg_usr {
    margin: 1em;
    padding: 0.5em;
    text-align: right;
    border-radius: 10px;
    padding-left: 20%;
}
.msg_usr_text {
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    background-color: #248bf5;
}
.msg_bot_text {
    color: #000;
    padding: 1em;
    
    border-radius: 10px;
    background-color: #e5e5ea;
}
.form {
    margin: 2em;
}
.form input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1em;
}

.loading_msg {
    color: #000;
    padding: 1em;
    
    border-radius: 10px;
    background-color: #e5e5ea;
}
