.menu-bar:before {
  filter: blur(10px);
  
}

.menu-bar{
    position: fixed;
    background-color: rgb(9, 3, 29, 0.48);
    width: 5em;
    height: 840px;
    box-shadow: 0.1em 0.1em 0.6em rgb(0, 0, 0, 0.3);
    

}

