.menu-bar{
    grid-area: left-navbar;
    background-color: #593090;
    width: 100px;
    height: 810px;
}

.log-out-button{
    bottom: 0px;
    left: 0px;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 90px;
    line-height: 20px;
    list-style: none;
    margin: 3px;
    outline: none;
    padding: 10px 16px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    overflow-x:visible;
}

.log-out-button:hover,
.log-out-button:focus {
  background-color: #F082AC;
}

.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 90px;
  line-height: 20px;
  list-style: none;
  margin: 3px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow-x:visible;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}